@import "vars";

body {
    background-color: $darkBrown;
    color: $lightYellow;
}

a{
    text-decoration: none;
    padding: 1rem;
    background: linear-gradient($lightRed, $darkYellow);
    color: $darkBrown;
    border-radius: 5px;
    font-weight: bold;
    margin: 0.2rem;
}
h1{
    color: $orange;
}
h2{
    color: $darkYellow;
}